@import './abstracts/mixin', "./abstracts/variable";

@import "./components/middle", "./components/footer", "./components/nav";

@import "./pages/about", "./pages/home", "./pages/services";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:$text-color ;
    background-color:$primary-color;
}

.container{
    width: 100%;
}

