.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $secondary-color;
    height: 10vh;
    padding: 1rem;
    span{
        color: $secondary-color;
    }
    li{
        display: inline;
        padding: 2rem;
    }
    a{
        text-decoration: none;
        color: $text-color;
    }
}