.about_middle{
    height: 65vh;
    display: flex;
    background-color:#F4F4F4;
    font-size: .9rem;
    color: $primary-color;
    padding: 2rem;
    gap: 4rem;
    &--left{
       width: 70%;
       .block{
        background-color:$primary-color;
        color: $text-color;
        padding: 1rem;
       }
 }
    &--right{
        height: max-content;
       width: 30%;
       background-color:$primary-color;
        color: $text-color;
        padding: 1rem;
 }
}