.middle{
    height: 35vh;
    background-image: url(../img/showcase.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.logo{
    height: 30vh;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    background-color: #F4F4F4;
    color: $primary-color;
    &_first{
        display: flex;
        justify-content: space-around;
    }
    .logo1, .logo2, .logo3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    img{
        width: 70px;
    }
    &_second{
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        padding: 1rem;
        text-align: center;
    }
}

.footer{

}